* {
    font-family: 'Oswald', sans-serif;
}

/* Header */

header {
    display: flex  ;
    justify-content: center;
    background-color: #655c5c;
    align-items: center;
    flex-direction: column;
}

header img {
    width: auto;

}

#overskrift {
    font-size: 24px;
    text-align: center;
}

#navbar {
    text-align: center;
    padding: 1rem;
    font-size: 20px;
}

#navbar ul {
    list-style-type: none;
    
}

#navbar ul :hover {
    background-color: #909796;
    color: rgb(255, 255, 255);
}

#navbar li {
    border: 3px solid black;
    display: inline;
    margin: 20px;
    border-radius: 10px;
    padding: 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}

/* Main */

main img{
    max-width: 500px;
    height: 300px;
}

.indexcontainerL {
    font-size: 20px;
}
/* Footer */

#grayEmail {
    flex-direction: column;
    text-align: center;
    background-color: #ddd;
    padding-bottom: 75px;
}

#emailBox{
    margin-top: 50px;
    height: 125px;
    
}

#emailForm{
    gap: 0;
}

#text{
    margin-top: 15px;
    font-size: 20px;
    border: none;
    margin-left: 20px;
}

#text label{
    font-size: 32px;
    margin-top: 50px;
}

#emailBox button{
    background-color: #eab30f;
    border: none;
    font-size: 18px;
    padding: 7px;
}
 #emailBox button :hover {
    background-color: #e7c768;
 }

form input{
    padding: 7px;
}

.indexcontainerL {
    display: flex;
    align-items: center;
    justify-content: left;
}
.indeximg {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
    padding: 20px;
}
.texth2L {
    text-align: center;
}
.texth2L p {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    #navbar ul li a {
        display: flex;
        flex-direction: column;
    }
}